{{ partial "htmlhead" . }}
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

                {{ partial "header" . }}
                {{ partial "nav" . }}

				<!-- Main -->
					<div id="main">

						<!-- Post -->
                        <section class="post">
                            <header class="major">
                                {{ if .Date }}
                                <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
                                {{ end }}
                                <h1>{{ .Title }}</h1>
                                <p>{{ .Description }}</p>
                            </header>
                            {{ if .Params.image }}
                            <div class="image main"><img src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="" /></div>
                            {{ end }}
                            {{ .Content }}

                            {{ partial "postcustom" . }}

                            {{ if .Params.disqusid }}
                            <div id="disqus_thread"></div>
                            {{ end }}
                        </section>

					</div>

                    {{ partial "footer/index" . }}
                    {{ partial "copyright" . }}

			</div>
            {{ partial "scripts/index" . }}
	</body>
</html>