<!-- Featured Post -->
{{ $data := .siteData }}
{{ range .firstpost }}
<article class="post featured">
    <header class="major">
        {{ if not .Date.IsZero }}
        <span class="date">{{ .Date.Format (.Site.Params.DateFormat | default "January 2, 2006") }}</span>
        {{ end }}
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ if .Description }}
        <p>{{ .Description }}</p>
        {{ else }}
        <p>{{ .Summary }}</p>
        {{ end }}
    </header>
    {{ if .Params.image }}
    <a href="{{ .Permalink }}" class="image main"><img src="{{ .Params.image | relURL }}" alt="" /></a>
    {{ end }}
    <ul class="actions">
        <li><a href="{{ .Permalink }}" class="button big">{{ $data.post.linktext }}</a></li>
    </ul>
</article>
{{ end }}
