<!-- Footer -->
{{ if gt .paging.TotalPages 1 }}
<footer>
    <div class="pagination">
        {{ if .paging.HasPrev }}
        <a href="{{ .paging.Prev.URL | relURL }}" class="previous">Prev</a>
        {{ end }}
        {{ range .paging.Pagers }}
        {{ if lt .PageNumber 10 }}
        <a href="{{ .URL | relURL }}" class="page{{ if eq .PageNumber .paging.PageNumber }} active{{ end }}">{{ .PageNumber }}</a>
        {{ end }}
        {{ end }}
        {{ if .paging.HasNext }}
        <a href="{{ .paging.Next.URL | relURL }}" class="next">Next</a>
        {{ end }}
    </div>
</footer>
{{ end }}
