<!-- Nav -->
<nav id="nav">
    <ul class="links">
        <li class="active"><a href="index.html">This is Massively</a></li>
        <li><a href="generic.html">Generic Page</a></li>
        <li><a href="elements.html">Elements Reference</a></li>
    </ul>
    {{ with .Site.Data.social }}
    <ul class="icons">
        {{ with .twitter}}
        <li><a href="{{ . }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        {{ end }}
        {{ with .facebook}}
        <li><a href="{{ . }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        {{ end }}
        {{ with .instagram}}
        <li><a href="{{ . }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        {{ end }}
        {{ with .github}}
        <li><a href="{{ . }}" class="icon fa-github"><span class="label">GitHub</span></a></li>
        {{ end }}
    </ul>
    {{ end }}
</nav>