{{ partial "htmlhead" . }}
	<body class="is-loading">

		{{ $posts := .Paginate (where .Data.Pages "Type" .Site.Params.Posts.foldername) 6 }}

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				{{ if eq $posts.PageNumber 1 }}
				{{ partial "intro.html" . }}
				{{ end }}

				{{ partial "header" . }}
				{{ partial "nav" . }}

				<!-- Main -->
					<div id="main">

						<!-- {{ partial "posts/featured.html" . }} -->

						{{ partial "posts/list.html" (dict "posts" $posts) }}

						<!-- Footer -->
							<footer>
								<div class="pagination">
									{{ if $posts.HasPrev }}
									<a href="{{ .Site.BaseURL }}{{ $posts.Prev.URL }}" class="previous">Prev</a>
									{{ end }}
									{{ range $posts.Pagers }}
									{{ if lt .PageNumber 10 }}
									<a href="{{ $.Site.BaseURL }}{{ .URL }}" class="page{{ if eq .PageNumber $posts.PageNumber }} active{{ end }}">{{ .PageNumber }}</a>
									{{ end }}
									{{ end }}
									{{ if $posts.HasNext }}
									<a href="{{ .Site.BaseURL }}{{ $posts.Next.URL }}" class="next">Next</a>
									{{ end }}
								</div>
							</footer>

					</div>

					{{ partial "footer/index" . }}
					{{ partial "copyright" . }}
			</div>

			{{ partial "scripts/index" . }}

	</body>
</html>