{{ partial "htmlhead" . }}
	<body class="is-loading">

		{{ $posts := .Paginate (where .Data.Pages "Type" .Site.Params.Posts.foldername) 6 }}

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				{{ if eq $posts.PageNumber 1 }}
				{{ partial "intro.html" . }}
				{{ end }}

				{{ partial "header" . }}
				{{ partial "nav" . }}

				<!-- Main -->
					<div id="main">

						<!-- {{ partial "posts/featured.html" . }} -->

						<!-- Posts -->
							<section class="posts">
								{{ range $posts.Pages }}
								<article>
									<header>
										{{ if .Date }}
										<span class="date">{{ .Date.Format "January 2, 2006" }}</span>
										{{ end }}
										<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
									</header>
									{{ if .Params.image }}
									<a href="{{ .Permalink }}" class="image fit"><img src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="" /></a>
									{{ end }}
									<p>{{ .Description }}</p>
									<ul class="actions">
										<li><a href="{{ .Permalink }}" class="button">{{ .Site.Data.post.linktext }}</a></li>
									</ul>
								</article>
								{{ end }}
							</section>

						<!-- Footer -->
							<footer>
								<div class="pagination">
									{{ if $posts.HasPrev }}
									<a href="{{ .Site.BaseURL }}{{ $posts.Prev.URL }}" class="previous">Prev</a>
									{{ end }}
									{{ range $posts.Pagers }}
									{{ if lt .PageNumber 10 }}
									<a href="{{ $.Site.BaseURL }}{{ .URL }}" class="page{{ if eq .PageNumber $posts.PageNumber }} active{{ end }}">{{ .PageNumber }}</a>
									{{ end }}
									{{ end }}
									{{ if $posts.HasNext }}
									<a href="{{ .Site.BaseURL }}{{ $posts.Next.URL }}" class="next">Next</a>
									{{ end }}
								</div>
							</footer>

					</div>

					{{ partial "footer/index" . }}
					{{ partial "copyright" . }}
			</div>

			{{ partial "scripts/index" . }}

	</body>
</html>